<style>
  .navegar {
    margin-top: 40pt;
    margin-bottom: 20pt;
    border-color: black;
  }
</style>
<div class="navegar">
  <a class="btn btn-outline-primary">Mostrar alumnos en el sistema</a>
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Número de control</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Semestre</th>
        <th>Grupo</th>
        <th>Domicilio</th>
        <th>Fecha de nacimiento</th>
        <th>Teléfono</th>
      </tr>
    </thead>
  </table>
</div>
