<style>
  .display-4 {
    text-align: center;
  }
</style>

<div class="nav-item1">
  <h1 class="display-4">
    PRUEBA MODELO MVC EN SAILS
  </h1>
  <p class="mb-2" style="text-align: center;">
    Da click en control escolar
  </p>
</div>
